<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>OpenChat Homepage</title>
    <link rel="stylesheet" href="http://localhost:8080/css/home.css" media="screen" charset="utf-8">
    <script src="http://localhost:8080/angular-1.5.7/angular.min.js" charset="utf-8"></script>
  </head>
  <body>

    Homepage is here

    <script src="http://localhost:8080/js/socket.io-1.4.5.js" charset="utf-8"></script>
    <script src="http://localhost:8080/js/home.js" charset="utf-8"></script>
  </body>
</html>
